{% extends "base.html" %}

{% block content %}
    <h1>Relatório Anual - {{ ano_relatorio|default:"Escolha o ano" }}</h1>
    
    {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
    {% endif %}
    
    <form method="GET" action="">
        <label for="id_ano_relatorio">Ano:</label>
        <select name="ano_relatorio" id="id_ano_relatorio" required>
            <option value="" disabled selected>Selecione o ano</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            
        </select>
        <button type="submit">Gerar Relatório</button>
    </form>
{% endblock %}
