<div class="edgtf-testimonial-content edgtf-testimonials7556 slick-slide slick-current slick-active" style="width: 100%;" tabindex="-1" role="option" data-slick-index="0" aria-hidden="false" aria-describedby="slick-slide00">
    <div class="edgtf-testimonial-content-inner">
        <div class="edgtf-testimonial-text-holder">
            <div class="edgtf-testimonial-text-inner">
                <p class="edgtf-testimonial-text" style="font-size: 35px !important;">O prêmio de roteiro abraça todo um filme, porque um roteiro é a sua argamassa.</p>
                <div class="edgtf-testimonial-author">
                    <h6 class="edgtf-testimonial-author-text"> Walter Salles</h6>
                </div>
            </div>
        </div>
    </div>
</div>                